*{
    box-sizing: border-box;
}
body{
    background-color: rgba(120, 119, 121, 0.719) !important;
}

a{
    color:#FF0042;
    font-weight: bolder;
    text-decoration: none;
}
.icon-red {
    color: red;
}
h1{
    padding-left: 7rem;
    font-weight: bolder;
    font-family: serif;
}
.material-icons.reddo { color: #df1818; }
.reddo{ color: #df1818; }
.botton{
    background: transparent;
    margin-left: 85%;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 67% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}
.subforum-description *{
    margin-block: 0;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}

.subforumadm{
    margin-top:20px;
}

.subforumadm-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforumadm-row{
    display: grid;
    grid-template-columns: 60% 13% 20% 7%;
}

.subforumadm-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}
.subforumadm-description *{
    margin-block: 0;
}

.subforumadm-icon i{
    font-size: 50px;
    text-align: left;
}

.subforumadm-devider{
    display: none;   
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/***************************************************************************/
.subthread{
    margin-top:10px;
}

.subthread-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subthread-row{
    display: grid;
    grid-template-columns: 75% 25%;
}
.subthread-rep{
    display: grid;
    padding-left: 3%;
    grid-template-columns: 75% 25%;
}

.subthread-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}
.subthread-r-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}
.subthread-description *{
    margin-block: 0;
}

.subthread-icon i{
    font-size: 45px;
}

.subthreadn{
    margin-top:20px;
}

.subthreadn-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subthreadn-row{
    display: grid;
    grid-template-columns: 70% 23% 7%;
}
.subthreadn-rep{
    display: grid;
    padding-left: 3%;
    grid-template-columns: 70% 23% 7%;
}

.subthreadn-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}
.subthreadn-r-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}
.subthreadn-description *{
    margin-block: 0;
}

.subthreadn-icon i{
    font-size: 65px;
    color: #df1818;
    align-self: center;
}

.subthread-devider{
    display: none;   
}

/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
/********************************************************************************************************************/
