{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %} 


{% set ns = namespace(count=0) %}

<section id="createThread" class="border-bottom border-dark text-dark pt-5 pb-3" >
    <!-- 
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Crea un nuovo thread</h3>
            <div class="input-group news-input">
                <input id="testoInserito" type="text" class="form-control" placeholder="inserisci un argomento" >
                <button type="button" class="btn btn-warning" id="myBtn">
                    <i class="bi bi-chevron-right"></i> Crea
                </button>
            </div>
        </div>
    </div>
    -->
{% if user.is_authenticated %}
    <div class="container">
        <form action="{{url_for('home')}}" method="POST">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0">Crea un nuovo thread</h3>
                <div class="input-group news-input">
                    <input id="testoInserito" name="testoInserito" type="text" class="form-control" placeholder="inserisci un argomento" >
                    <button type="submit" class="btn btn-danger" id="myBtn">
                        <i class="bi bi-chevron-right"></i> Crea
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endif %}
{% if user.is_authenticated=='False' or user.role=='user' %}

<ul class="border-bottom border-dark pb-2">
    {% for t in tList %}
    {% set ns.count = 0 %}
    {% for post in t.posts %}
        {% set ns.count = ns.count+1 %}
    {% endfor %}

    <!--<li>{{t.name}} se ti interessa clicca <a href="{{ url_for('see_thread', id= t.id ,threadName = t.name)}}">Qua</a></li>-->
    <div class="container ">
        <div class="subforum">
            <div class="subforum-row">
                <div class="subforum-description subforum-column text-light">
                    <h4><a href="{{ url_for('see_thread', id= t.id ,threadName = t.name)}}">{{t.name}}</a></h4>
                    <p>Ultimo commento: <small>{{t.lastUpdate}}</small></p>
                    
                </div>
                <div class="subforum-stats subforum-column center text-light">
                    <span> Post = {{ns.count}}</span>
                </div>
                <div class="subforum-info subforum-column text-light">
                    Fatto da <a href="{{ url_for('userPro', id= t.user.id) }}">{{t.user.username}}</a> 
                    <br>Il <small>{{t.creationDate}}</small>
                </div>
            </div>
            <hr class="subforum-devider">
        </div>
    </div>
    {% endfor %}
</ul>
{% else %}
<ul>
    {% for t in tList %}
    {% set ns.count = 0 %}
    {% for post in t.posts %}
        {% set ns.count = ns.count+1 %}
    {% endfor %}

    <!--<li>{{t.name}} se ti interessa clicca <a href="{{ url_for('see_thread', id= t.id ,threadName = t.name)}}">Qua</a></li>-->
    <div class="container">
        <div class="subforumadm">
            <div class="subforumadm-row">
                <div class="subforumadm-description subforumadm-column text-light">
                    <h4><a href="{{ url_for('see_thread', id= t.id ,threadName = t.name)}}">{{t.name}}</a></h4>
                    <p>Ultimo commento: <small>{{t.lastUpdate}}</small></p>
                </div>
                <div class="subforumadm-stats subforumadm-column center text-light">
                    <span> Post = {{ns.count}}</span>
                </div>
                <div class="subforumadm-info subforumadm-column text-light">
                    Fatto da <a href="{{ url_for('userPro', id= t.user.id) }}">{{t.user.username}}</a> 
                    <br>Il <small>{{t.creationDate}}</small>
                </div>
                <form action="{{ url_for('delete', id= t.id) }}" method="DELETE">
                    <div class="subforumadm-icon center subforumadm-column">
                        <button class="btn" id="cancelThread" ><i class="fa fa-close"></i></button>
                    </div>
                </form>
            </div>
            <hr class="subforumadm-devider">
        </div>
    </div>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
