{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="sidenav">
   <div class="login-main-text">
      <h2>Forum<br> Login Page</h2>
      <p>Registrati o accedi.</p>
   </div>
</div>
<div class="main">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">
         <form method="POST">
            <h3 align="center">Login</h3>
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
                placeholder="Enter Username"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
              />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
      <p>Non hai un account? <a href="sign-up">Clicca qui</a></p>
      </div>
   </div>
</div>

{% endblock %}




<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<div class="sidenav">
         <div class="login-main-text">
            <h2>Forum<br> Login Page</h2>
            <p>Registrati o accedi.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form>
                  <div class="form-group">
                     <label>User Name</label>
                     <input type="text" class="form-control" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input type="password" class="form-control" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-black">Login</button>
               </form>
            <p>Non hai un account? <a href="sign-up">Clicca qui</a></p>
            </div>
         </div>
      </div>
</body>
</html>
-->
