{% extends "base.html" %}
{% block title %}Profilo{% endblock %}

{% block content %} 
{% set ns = namespace(count=0) %}
{% set ds = namespace(count=0) %}
{% set ps = namespace(found=false) %}
{% set ps = namespace(count=0) %}
<div class="container">
    <div class="main-body">
        {% set ns.count = 0 %}
        {% for threads in current_user.threads %}
            {% set ns.count = ns.count+1 %}
        {% endfor %}
        {% set ds.count = 0 %}
        {% set ps.found = false %}
        {% set ps.count = 0 %}
        {% for posts in current_user.posts %}
            {% set ds.count = ds.count+1 %}
        {% endfor %}
          <!-- Breadcrumb -->
          <!-- 
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          -->

          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="..\static\imgs\ph_user-circle-fill 2.jpg" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{user.username}}</h4>
                      <p class="text-secondary mb-1">Thread creati:{{ns.count}}</p>
                      <p class="text-muted font-size-sm">Post creati:{{ds.count}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Nome</h6>
                    <span class="text-secondary">{{user.name}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Cognome</h6>
                    <span class="text-secondary">{{user.surname}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Mail</h6>
                    <span class="text-secondary">{{user.mail}}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0">Ruolo</h6>
                    <span class="text-secondary">{{user.role}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Thread creati</h6>
                    </div>
                  </div>
                  <hr>
                  {% for thread in user.threads %}
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">{{thread.name}}</h6>
                    </div>
                    <div class="col-sm-7 text-secondary">
                      Creato il {{thread.creationDate}}
                    </div>
                    <div class="col-sm-2 text-secondary">
                      <a href="{{ url_for('see_thread', id= thread.id ,threadName = thread.name)}}">Guarda</a>
                    </div>
                  </div>
                  <hr>
                  {% endfor %}
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Commenti</h6>
                    </div>
                  </div>
                  <hr>
                  {% for thread in tl %}
                    {% for post in thread.posts %}
                        {% if post.user_who_posted_id==user.id %}
                            {% set ps.found = true %}
                            {% set ps.count=ps.count+1 %}
                        {% endif %}
                    {% endfor %}
                    {% if ps.found==true %}
                        <div class="row">
                            <div class="col-sm-3">
                            <h6 class="mb-0">{{thread.name}}</h6>
                            </div>
                            <div class="col-sm-4 text-secondary">
                            Creato il {{thread.creationDate}}
                            </div>
                            <div class="col-sm-3 text-secondary">
                            Commenti: {{ps.count}}
                            </div>
                            <div class="col-sm-2 text-secondary">
                                <a href="{{ url_for('see_thread', id= thread.id ,threadName = thread.name)}}">Guarda</a>
                            </div>
                        </div>
                        <hr>
                        {% set ps.found = false %}
                        {% set ps.count = 0 %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>

        </div>
    </div>

{% endblock %}
