{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %} 
{% set ns = namespace(count=0) %}
<h1>Benvenuto</h1>
ZIO
<ul>

    {% for t in tList %}
    {% set ns.count = 0 %}
    {% for post in t.posts %}
        {% set ns.count = ns.count+1 %}
    {% endfor %}

    <!--<li>{{t.name}} se ti interessa clicca <a href="{{ url_for('see_thread', id= t.id ,threadName = t.name)}}">Qua</a></li>-->
    <div class="container py-2 ">
        <div class="row gx-3 ">
            <div class="col-md-8 ">
                <div class="bg-dark border border-dark rounded" style="height: 80px;">
                    <h4><a href="{{ url_for('see_thread', id= t.id ,threadName = t.name)}}">{{t.name}}</a></h4>
                    <p class="text-light">Ultimo commento: <small class="text-light">{{t.lastUpdate}}</small></p>
                </div>
            </div>
            <div class="col-md-2 " >
                <div class="bg-dark border border-dark rounded text-center" style="height: 80px;">
                    <p class="text-light pt-4 pl-1"> Post = {{ns.count}}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class=" bg-dark border border-dark rounded text-light text-center " style="height: 80px;">
                    Fatto da <a href="{{ url_for('userPro', id= t.user.id) }}">{{t.user.username}}</a> 
                    <br>Il <small>{{t.creationDate}}</small>
                </div>
            </div>
            <hr class="subforum-devider">
        </div>
    </div>
    {% endfor %}
</ul>
<div class="container px-4 ">
    <div class="row gx-3 ">
      <div class="col-6">
        <div class="py-2 bg-secondary border border-dark rounded">Custom column padding</div>
      </div>
      <div class="col-3 ">
        <div class="py-2 bg-secondary border border-dark">Custom column padding</div>
      </div>
      <div class="col-3 ">
        <div class="py-2 bg-secondary border border-dark">Custom column padding</div>
      </div>
    </div>
  </div>
{% endblock %}
