{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %} 
{% set ns = namespace(count=0) %}
{% set ns.count = 0 %}

<script>
    function toggle(x){
        if(document.getElementById(x+"a").style.display=="flex"){
            document.getElementById(x+"a").style.display="none";
        }else{
            document.getElementById(x+"a").style.display="flex";
        }
    }
    function quote(x){
        console.log(x)
        document.getElementById("commentoInserito").value=("@"+x);
    }
    function showReplies(x){
        if(document.getElementById(x).style.display=="flex"){
            document.getElementById(x).style.display="none";
        }else{
            document.getElementById(x).style.display="flex";
            document.getElementById(x).style.flexDirection="column";
        }
    }
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="border-bottom border-dark pt-2 pb-3">
    <div class="container py-2">
        <h2 style="padding-left: 0.5em; font-family: Roboto;">{{ t.name }}</h2>
        <small style="font-weight: bolder;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg> {{t.user.username}} <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
          </svg> {{dt}} </small>
    </div>
    {% if user.is_authenticated %}
    <div class="container">
        <form method="POST" name="insComm">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0"></h3>
                <div class="input-group news-input">
                    <input id="commentoInserito" name="commentoInserito" type="text" class="form-control" placeholder="Inserisci un commento">
                    <button type="submit" class="btn btn-danger" id="myBtn">
                        <i class="bi bi-chevron-right"></i> Crea
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endif %}
{% if user.is_authenticated=='False' or user.role=='user'  %}
<ul class="border-bottom border-dark pb-2">
    {% for p in posts %}
    {% for replies in p.replies %}
    {% set ns.count = ns.count+1 %}
    {% endfor %}
        <div class="container">
            <div class="subthread">
                <div class="subthread-row">
                    <div class="subthread-description subthread-column text-light">
                        <p>{{p.content}}</p>
                    </div>
                    <div class="subthread-info subthread-column text-light">
                        Fatto da <a href="{{ url_for('userPro', id= p.user.id) }}">{{p.user.username}}</a> 
                        <br>Il <small>{{p.postDate}}</small>
                        <div class="bottone row justify-content-end">
                            <button onclick="toggle(`{{p.id}}`)" class="btn col-2 " style="background-color: transparent">
                                <span class="material-icons md-dark reddo pl-1">reply</span>
                            </button>
                            <button onclick="quote(`{{p.user.username}}`)" class="btn col-2" style="background-color: transparent">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-at reddo" viewBox="0 0 16 16">
                                    <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    
                </div>
                
                <form method="POST">
                    <div class="input-group news-input" id="{{p.id}}a" style="display: none;">
                        <input id="risposta" name="rispostaInserita" type="text" class="form-control" placeholder="Commento...">
                        <textarea name="hidden" class="form-control" style="display: none;" value="{{p.id}}" id="hidden">{{p.id}}</textarea> 
                        <button type="submit" class="btn btn-danger" id="btn2">
                            <i class="bi bi-chevron-right"></i> Crea
                        </button>
                    </div>
                </form>
                <!--
                <form action="" style="display: none;" id="{{p.id}}a">
                    <input>
                    <button> Rispondi </button>
                </form>
                -->
                {% if ns.count > 0 %}
                {% if ns.count == 1 %}
                <button type="button" class="btn btn-dark" id="mosRisposte" onclick= "showReplies( `{{p.id}}` )">{{ns.count}} risposta</button>
                {% else %}
                <button type="button" class="btn btn-dark" id="mosRisposte" onclick= "showReplies( `{{p.id}}` )">{{ns.count}} risposte</button>
                {% endif %}
                <div id="{{p.id}}" style="display: none;">
                    {%  for r in p.replies %}
                        <div class="subthread-rep">
                            <div class="subthread-description subthread-r-column text-light">
                                <p>{{r.content}}</p>
                            </div>
                            <div class="subthread-info subthread-r-column text-light">
                                Fatto da <a href="{{ url_for('userPro', id= p.user.id) }}">{{r.user.username}}</a> 
                                <br>Il <small>{{r.postDate}}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                <!--
                <div id="{{p.id}}" style="display: none;" >
                    {%  for r in p.replies %}
                        {{r.content}}
                    {% endfor %}
                </div>
                -->
                <hr class="subthread-devider">
            </div>
        </div>
    {% set ns.count = 0 %}
    {% endfor %}
</ul>
{% else %}
<ul>
    {% for p in posts %}
    {% for replies in p.replies %}
    {% set ns.count = ns.count+1 %}
    {% endfor %}
        <div class="container">
            <div class="subthreadn">
                <div class="subthreadn-row">
                    <div class="subthreadn-description subthreadn-column text-light">
                        <p>{{p.content}}</p>
                    </div>
                    <div class="subthread-info subthread-column text-light">
                        Fatto da <a href="{{ url_for('userPro', id= p.user.id) }}">{{p.user.username}}</a> 
                        <br>Il <small>{{p.postDate}}</small>
                        <div class="bottone row justify-content-end">
                            <button onclick="toggle(`{{p.id}}`)" class="btn col-2 " style="background-color: transparent">
                                <span class="material-icons md-dark reddo pl-1">reply</span>
                            </button>
                            <button onclick="quote(`{{p.user.username}}`)" class="btn col-2" style="background-color: transparent">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-at reddo" viewBox="0 0 16 16">
                                    <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <form action="{{ url_for('deletecom', idcom=p.id , idthread= p.threads.id , tname=p.threads.name) }}" method="DELETE">
                        <div class="subthreadn-icon center subthreadn-column">
                            <button class="btn" id="cancelThread" ><i class="fa fa-close"></i></button>
                        </div>
                    </form>
                </div>
                <form method="POST">
                    <div class="input-group news-input" id="{{p.id}}a" style="display: none;">
                        <input id="risposta" name="rispostaInserita" type="text" class="form-control" placeholder="Commento...">
                        <textarea name="hidden" class="form-control" style="display: none;" value="{{p.id}}" id="hidden">{{p.id}}</textarea> 
                        <button type="submit" class="btn btn-danger" id="btn2">
                            <i class="bi bi-chevron-right"></i> Crea
                        </button>
                    </div>
                </form>
                <!--
                <form action="" style="display: none;" id="{{p.id}}a">
                    <input>
                    <button> Rispondi </button>
                </form>
                -->
                {% if ns.count > 0 %}
                {% if ns.count == 1 %}
                <button type="button" class="btn btn-dark" id="mosRisposte" onclick= "showReplies( `{{p.id}}` )">{{ns.count}} risposta</button>
                {% else %}
                <button type="button" class="btn btn-dark" id="mosRisposte" onclick= "showReplies( `{{p.id}}` )">{{ns.count}} risposte</button>
                {% endif %}
                <div id="{{p.id}}" style="display: none;">
                    {%  for r in p.replies %}
                        <div class="subthread-rep">
                            <div class="subthread-description subthread-r-column text-light">
                                <p>{{r.content}}</p>
                            </div>
                            <div class="subthread-info subthread-r-column text-light">
                                Fatto da <a href="{{ url_for('userPro', id= p.user.id) }}">{{r.user.username}}</a> 
                                <br>Il <small>{{r.postDate}}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                <!--
                <div id="{{p.id}}" style="display: none;" >
                    {%  for r in p.replies %}
                        {{r.content}}
                    {% endfor %}
                </div>
                -->
                <hr class="subthread-devider">
            </div>
        </div>
    {% endfor %}
</ul>
{% endif %}



{% endblock %}
